<main class="main">
    <main class="container container--box">

        <section class="wrapper">
            <section class="wrapper__header">
                <div>
                    <h2 class="wrapper__title">Cambiar contrase単a</h2>
                    <p class="wrapper__desc">A continuacion ingrese la nueva contrase単a</p>
                </div>
            </section>
            <section class="wrapper__body">
                <form class="wrapper__group wrapper__group--box" action="/user/<%= uid %>/pwd/update?_method=PUT"
                    method="POST" id="form">

                    <div class="item">
                        <label for="pwd" class="label">Nueva contrase単a</label>
                        <input type="password" name="pwd" id="pwd" class="input-text">
                    </div>
                    <div class="item">
                        <label for="pwd_rep" class="label">Repita la nueva contrase単a</label>
                        <input type="password" name="pwd_rep" id="pwd_rep" class="input-text">

                    </div>
                    <div class="wrapper__item wrapper__item--inline">
                        <a href="/user/<%= uid %>" class="btn btn--gray btn--full">Cancelar</a>
                        <button class="btn btn--full" type="submit">Aceptar</button>
                    </div>
                </form>
            </section>
        </section>
    </main>
</main>