<section class="main__header">
    <h1>Principal</h1>
    <div>Botones</div>
</section>
<section class="main__body">
    <section class="wrapper">
        <section class="wrapper__header">

        </section>
        <section class="wrapper__body">

        </section>
    </section>
</section>

<section class="swal__section">
    <h3 class="swal__title">Cambiar contraseña</h3>
    <div class="item">
        <label for="user_pass" class="label">Nueva contraseña</label>
        <input class="input-text" type="text" name="user_pass" id="user_pass">
    </div>
    <div class="item">
        <label for="user_pass_repeat" class="label">Repetir contraseña</label>
        <input class="input-text" type="text" name="user_pass_repeat" id="user_pass_repeat">
    </div>
</section>