.container{
    display: grid;
    gap: var(--sp-16);
}

.container-2-1{
    grid-template-columns: 3fr 1fr;
}

.container-1-1{
    grid-template-columns: 1fr 1fr;
}

.container-l{
    height: fit-content;
}

.container-r{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}

/* 
.subcontainer__main{
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}

.subcontainer__right{
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
} */

.--hide{
    display: none !important;
}