.main__header--title p{
    color: var(--zinc-500);
}

.panel{
    display: flex;
    width: 50%;
}

.panel-user__search{
    width: 30%;
    display: flex;
    align-items: center;
    gap: var(--sp-12);
    padding: var(--sp-4) var(--sp-12);
    transition: all var(--transition-02);
    color: var(--zinc-800);
}

.panel-user__search input{
    width: 100%;
    border: none;
    font-size: var(--md);
}

    .panel-user__search input:focus{
        outline: none;
        border:none
    }

.panel-user__search:has(input:focus){
    border: 1px solid var(--primary-400);
    color: var(--primary-700);

}

.panel-user{
    display: flex;
    align-items: center;
    gap: var(--sp-32);
}

.panel-user__action{
    padding: 6px;
    display: grid;
    place-items: center;
    background: #FFF;
    border: 1px solid var(--zinc-200);
    border-radius: var(--radius-full);
    color: var(--zinc-400);
    font-size: var(--xl);
    transition: all var(--transition-02);
    overflow: hidden;
}

    .panel-user__action:hover{
        border-color: var(--primary-600);
        color: var(--primary-600);
    }

.panel-user__menu{
    display: flex;
    position: relative;
}

.panel-user__title{
    display: flex;
    align-items: center;
    gap: var(--sp-16);
    cursor: pointer;
}
.panel-user__title span{
    text-align: end;
}

.panel-user__title p{
    font-size: var(--xs);
    color: var(--zinc-500);
}

.panel-user__nav{
    top: 46px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--zinc-200);
    overflow: hidden;
}