:root{
    --max-w: 1480px;
}

.content-wrapper{
    width: 100%;
}

.header{
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--bg-light);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 100;
}

.main__header--wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--sp-32);
    width: 100%;
    max-width: var(--max-w);

    margin-inline: auto;
    padding: var(--sp-16);
}

.main{
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
    width: 100%;
    max-width: var(--max-w);
    margin-inline: auto;
    padding: var(--sp-16);
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text-container{
    display: flex;
    flex-direction: column;
}

.header__btn-container{
    display: flex;
    gap: var(--sp-16);
}

.main__body--fit-content{
    max-width: 900px;
}

/* Not found */
.not-found{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.not-found__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-16);
}

.not-found__content h1{
    font-size: var(--2xl);
}

/* DROPDOWNS */
.dd{
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5000;
    transition: all var(--transition-02);
}

.dd--hide{
    display: none;
}



/* Status historial */

.sh__ul {
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}
.sh__li {
    display: flex;
    gap: var(--sp-12);
    padding: var(--sp-8);
    border-radius: var(--radius-sm);
    transition: all var(--transition-02);
}



.sh__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.3px;
}
.sh__status {
    margin-bottom: var(--sp-4);
    text-wrap: nowrap;
    transition: all var(--transition-02);
}
.sh__author {
    font-size: var(--xs);
    color: var(--zinc-600);
    transition: all var(--transition-02);
}
.sh__date {
    font-size: var(--sm);
    color: var(--zinc-600);
    transition: all var(--transition-02);
}

.sh__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.sh__img iconify-icon {
    font-size: var(--4xl);
    display: none;
}

.sh__img-line {
    width: 5px;
    background: var(--zinc-200);
    height: 100%;
    border-radius: var(--radius-full);
    transition: all var(--transition-02);
}

.sh__img-line--last{
    background: var(--primary-600);
}


.sh__li:hover {
    background: var(--primary-100);
}

.sh__li:hover .sh__img-line{
    background: var(--primary-600);
}