<section class="main__header">
    <section class="main__header--wrapper main--wrapper">

        <section class="main__header--title">
            <h1><%= data.title %></h1>
            <p><%= data.desc %></p>
        </section>

        <section class="panel-user">

<!--             <div class="panel-user__actions">
                <a class="panel-user__action" href="/">
                    <iconify-icon icon="tabler:bell"></iconify-icon>
                </a>
                <section class="panel-user__nav">
                    <ul class="panel-user__ul">
                        <li class="panel-user__li">
                            <a href="" class="panel-user__link">
                                <iconify-icon icon="tabler:user-circle"></iconify-icon>
                                <span class="panel-user__link-span">Mi perfil</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </div> -->
            <div class="panel-user__menu">
                <div id="pu" class="panel-user__title">
                    <span>
                        Christian Martinez
                        <p>Administrador</p>
                    </span>
                    <iconify-icon icon="tabler:chevron-down"></iconify-icon>
                </div>
                <nav id="dd-pu" class="panel-user__nav dd dd--hide           animate__animated
                animate__fadeIn
                animate__faster">
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a href="" class="menu__link">
                                <iconify-icon icon="tabler:user-circle"></iconify-icon>
                                <span class="menu__link-span">Mi perfil</span>
                            </a>
                        </li>
                        <li class="menu__li">
                            <a href="" class="menu__link">
                                <!-- <iconify-icon icon="tabler:sun"></iconify-icon> -->
                                <iconify-icon icon="tabler:moon"></iconify-icon>
                                <span class="menu__link-span">Cambiar modo</span>
                            </a>
                        </li>
                        <li class="menu__li">
                            <a href="" class="menu__link">
                                <iconify-icon icon="tabler:lock-password"></iconify-icon>
                                <span class="menu__link-span">Cambiar contraseña</span>
                            </a>
                        </li>
                        <li class="menu__li">
                            <a href="" class="menu__link">
                                <iconify-icon icon="tabler:circle-arrow-left"></iconify-icon>
                                <span class="menu__link-span">Cerrar session</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </section>
</section>