.menu__ul{
    display: flex;
    flex-direction: column;
}

.menu__link{
    background-color: #FFF;
    padding: var(--sp-12) var(--sp-12);
    display: flex;
    align-items: center;
    gap: var(--sp-12);
    text-wrap: nowrap;
    transition: all var(--transition-02);
    color: var(--zinc-700);
}

.menu__link iconify-icon{
    font-size: var(--xl);
}

    .menu__link:hover{
        background-color: var(--primary-200);
        color: var(--primary-600);
    }

.menu__line{
    width: 100%;
    height: 1px;
    background-color: var(--zinc-200);
}