/* Wrapper */
.wrapper {
    background: #FFF;
    border: 1px solid var(--zinc-200);
    border-radius: var(--radius-sm);
    /* box-shadow: var(--shadow-light); */
    overflow: hidden;
}

.wrapper__header {
    padding: var(--sp-12) var(--sp-16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-8);
    /* border-bottom: 1px solid var(--zinc-200); */
}

    .wrapper__btn-container{
        display: flex;
        gap: var(--sp-8);
        justify-content: flex-end;
        align-items: center;
    }

    .wrapper__title {
        font-weight: var(--bold);
        font-size: var(--xl);
        letter-spacing: 0.3px;
    }

    .wrapper__subtitle {
        font-weight: var(--bold);
        font-size: var(--md);
        letter-spacing: 0.3px;
    }

    .wrapper__desc {
        color: var(--zinc-600);
        letter-spacing: 0.3px;
    }


.wrapper__body {
    padding: var(--sp-16);
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}

    .wrapper__group {
        display: flex;
        flex-direction: column;
        gap: var(--sp-16);
    }

.wrapper__row {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: var(--sp-32);
}

    .wrapper__row--2{
        grid-template-columns: 1fr 1fr;
    }

    .wrapper__row--3{
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper__row--4{
        grid-template-columns: repeat(4, 1fr);
    }

    .wrapper__row--2-1{
        grid-template-columns: 2fr 1fr;
    }

    .wrapper__row--1-3{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .wrapper__row--auto{
        display: flex;
        flex-wrap: wrap;
    }


.wrapper__item{
    display: flex;
    flex-direction: column;
}

.wrapper__item--inline{
    flex-direction: row;
    align-items: center;
    gap: var(--sp-8);
}

    .wrapper__item--inline iconify-icon{
        font-size: 2.3rem;
    }

.wrapper__item__key{
    font-weight: var(--semibold);
}

.wrapper__item__value{

}

.wrapper__footer{
    padding: var(--sp-16);
    display: flex;
    flex-direction: column;
    gap: var(--sp-8);
    border-top: 1px solid var(--zinc-200);
}

/* Modificadores */
.wrapper--panel {
    background: #FFF;
    border: 1px solid var(--zinc-200);
    border-radius: var(--radius-sm);
}

.wrapper--warning{
    min-width: 300px;
    width: 100%;
    border: 2px solid rgb(255, 144, 144);
}

.wrapper--alert{
    padding: var(--sp-12);
    font-weight: var(--medium);
    font-size: var(--lg);
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--zinc-700);
    background-color: #fecf6d;
}

/* Wrapper Article */
.w-article {
    padding: var(--sp-16);
    border: 1px solid var(--zinc-200);
    border-radius: var(--radius-sm);
    transition: all var(--transition-02);
}

    .w-article:hover {
        border-color: var(--primary-400);
    }

    .w-article--no-hover:hover {
        width: 100%;
        border: 1px solid var(--zinc-200);
    }

.w-article__inputs-row {
    display: flex;
    flex-direction: row;
    gap: var(--sp-16);
}

.w-article__checkboxs-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sp-16);
}

.w-article__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: var(--sp-8);
}

.w-article__content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-8);
}

.w-article__btn-container {
    display: flex;
    gap: var(--sp-8);
}

.w-article__dropdown-link {
    display: flex;
    gap: var(--sp-12);
    color: var(--primary-500);
    font-size: var(--md);
    font-weight: var(--bold);
    letter-spacing: 0.3px;
    cursor: pointer;
}

.w-article__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-03);
}

.w-article__dropdown-body{
    border-top: 1px solid var(--zinc-200);
    padding-top: var(--sp-16);
    margin-top: var(--sp-16);
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}

    .dd--active {
        max-height: 900px;
    }

/* Wrapper article option */
.w-article__option{
    display: flex;
    gap: var(--sp-12);
    cursor: pointer;
}

.w-article__option input{
}

.w-article__option-description h5{
    color: var(--primary-500);
    font-size: var(--md);
    letter-spacing: 0.3px;
}

    .w-article__option-description h5 span{
        color: var(--primary-500);
        font-weight: var(--regular);
        font-size: var(--sm);
    }

.w-article__option-description p{
    font-size: var(--sm);
    color: var(--zinc-600);
}