<main class="main">
    <main class="container">
        <section class="wrapper">
            <section class="wrapper__header">
                
            </section>
            <section class="wrapper__body">
                Seleccione
            </section>
        </section>
    </main>
</main>